<ion-view view-title="Conference Timeline">
  <ion-content>
    <div class="list list-inset">
      <div class="item item-divider">2016</div>
      <div class="item">08/01 | Committee List Released</div>
      <div class="item">09/26 | Registration Opens</div>
      <div class="item">10/17 | Background Guides Posted</div>
      <div class="item">10/31 | Early Registration Deadline</div>
      <div class="item">11/05 | First Wave of Country Assignments</div>
      <div class="item">12/05 | Second Wave of Country Assignments</div>
      <div class="item item-divider">2017</div>
      <div class="item">01/31 | Third Wave of Country Assignments</div>
      <div class="item">03/01 | Regular Registration Deadline</div>
      <div class="item">03/01 | Final Wave of Country Assignments</div>
      <div class="item">03/21 | Position Paper Deadline</div>
      <div class="item">04/08 | Refund Deadline</div>
      <div class="item">04/13 | Late Registration Deadline</div>
      <div class="item">04/13 | Payment Deadline</div>
      <div class="item">04/22 | Conference Starts</div>
    </div>
  </ion-content>
</ion-view>
