<ion-view view-title="Home">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Discover OMUN
      </div>
      <a href="#/tab/news" class="item item-icon-left">
        <i class="icon ion-ios-paper"></i>
        OMUN News
      </a>
      <a href="#/tab/schedule" class="item item-icon-left">
        <i class="icon ion-calendar"></i>
        OMUN Schedule
      </a>
      <a href="#/tab/committees" class="item item-icon-left">
        <i class="icon ion-person-stalker"></i>
        OMUN Committees
      </a>
      <a href="#/tab/about" class="item item-icon-left">
        <i class="icon ion-help"></i>
        Help and About
      </a>
      <div class="item item-text-wrap item-icon-left">
        <i class="icon ion-ios-clock"></i>
        <h2>{{countdown}}</h2>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Latest News Update
      </div>
      <div class="item item-text-wrap">
        <h2>{{news.title}}</h2>
        <p>by {{news.author}}</p>
      </div>
      <div class="item item-body">
        {{news.excerpt}}
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Featured Committee
      </div>
      <div class="item item-avatar">
        <img src="{{committee.image}}">
        <h2>{{committee.short}}</h2>
        <p>{{committee.name}}</p>
      </div>

      <div class="item item-body">
        <p>
          {{committee.shortbio}}
        </p>
      </div>
      <a href="#/tab/committees" class="item">
        <p>
          <span class="subdued">Learn About OMUN's Committees</span>
        </p>
      </a>
    </div>
  </ion-content>
</ion-view>
