<ion-view view-title="Schedules">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Conference Timeline
      </div>
      <div class="item item-text-wrap">
        See the timeline for OMUN 2017, including Registration Deadlines, Committee Assignments, and other important dates.
        <a type="button" class="button button-positive button-block" href="#/tab/schedule/timeline">
          Timeline
        </a>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Conference Schedule
      </div>
      <div class="item item-text-wrap">
        See the conference schedule for April 22nd and 23rd: don't miss Opening Ceremonies, Committee Sessions, and most importantly, Lunch Break!
        <a type="button" class="button button-positive button-block" href="#/tab/schedule/conference">
          Conference
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
