<ion-view view-title="About">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          <b>Have any questions?</b>
          Contact us at <b>omun@ucc.on.ca</b>, visit our website <b>omun.ca</b>, or phone <b>555-555-5555</b>.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        <h2>Ontario Model United Nations App</h2>
        <p>
          This app was developed by Matthew Wang, USG of Communications of OMUN 2017.
        </p>
        <p>
          This app was built with Ionic, AngularJS, and Cordova, compiled with Adobe Phonegap, and distributed through the App Store and the Google Play Store.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
