<ion-view view-title="Home">
  <ion-content>
    <div class="list card">
      <div class="item item-divider">
        Discover OMUN
      </div>
      <a href="#/tab/news" class="item item-icon-left">
        <i class="icon ion-ios-paper"></i>
        OMUN News
      </a>
      <a href="#/tab/schedule" class="item item-icon-left">
        <i class="icon ion-calendar"></i>
        OMUN Schedule
      </a>
      <a href="#/tab/committees" class="item item-icon-left">
        <i class="icon ion-person-stalker"></i>
        OMUN Committees
      </a>
      <a href="#/tab/about" class="item item-icon-left">
        <i class="icon ion-help"></i>
        Help and About
      </a>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Latest News
      </div>
      <div class="item item-text-wrap">
        <h2>Title.</h2>
        Embrace without goal-oriented services client-centric outsourcing interdependent value-added intuitive maintain flexible friendly maximize frictionless. Reintermediate ubiquitous process redefine experiences deliverables multimedia incentivize client-centric mission-critical visionary wireless value extend scalable. Interactive innovate tactical customer recaptiualize accurate paradigms 2.0 rapidiously granular mesh high process...
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        Featured Committee
      </div>
      <div class="item item-avatar">
        <img src="/img/icj.png">
        <h2>ICJ</h2>
        <p>International Court of Justice</p>
      </div>

      <div class="item item-body">
        <p>
        The International Court of Justice judges countries based on their actions, and sets punishments accordingly. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis enim ut massa faucibus ultrices. Nulla faucibus dignissim leo sit amet placerat. Suspendisse in risus massa.
        </p>
        <p>
          <a href="#" class="subdued">Learn More</a>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap" style="text-align:center;">
        <h2>360 Days Until OMUN 2017</h2>
      </div>
    </div>
  </ion-content>
</ion-view>
