<ion-tabs class="tabs-striped tabs-icon-only tabs-positive tabs-color-active-default">
  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- News Tab -->
  <ion-tab title="News" icon-off="ion-ios-paper" icon-on="ion-ios-paper" href="#/tab/news">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

  <!-- Schedule Tab -->
  <ion-tab title="Schedule" icon-off="ion-calendar" icon-on="ion-calendar" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>

  <!-- Committees Tab -->
  <ion-tab title="Committees" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/committees">
    <ion-nav-view name="tab-committees"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="About" icon-off="ion-help" icon-on="ion-help" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
</ion-tabs>
